<div class="container">

    <h4>{{isFormInEditMode() ? 'Edit Outil' : 'Create New Outil'}}</h4>
  
    <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  
      <mat-form-field>
        <input matInput placeholder="date" formControlName="date">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="source" formControlName="source">
      </mat-form-field>
 
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
      </div>
  
    </form>
  </div>
  
