<mat-card class="example-card">
	<mat-card-header>


		<mat-card-title>a7la a7la member</mat-card-title>
		<mat-card-subtitle> {{member.nom}}</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>

		<table>
			<td>
				<tr>nom</tr>
				<tr>prénom</tr>
				<tr>CIN</tr>
				<tr>Date de Naissance </tr>
				<tr>CV</tr>
				<tr>photo </tr>
				<tr>email</tr>
				<tr>publication</tr>
				<tr>evenement</tr>
				<tr>outil</tr>
				<tr>date inscription</tr>
				<tr>diplome</tr>
				<tr>encadrant</tr>
				<tr>établissement</tr>
				<tr>grade </tr>

			</td>
			<td>
				<tr>{{member.nom}}</tr>
				<tr>{{member.prenom}}</tr>
				<tr>{{member.cin}}</tr>
				<tr>{{member.datenaissance}}</tr>
				<tr>{{member.cv}}</tr>
				<tr>photooooooo </tr>
				<tr>{{member.email}}</tr>
				<tr>{{member.publication}}</tr>
				<tr>{{member.evens}}</tr>
				<tr>{{member.outils}}</tr>
				<tr>{{member.dateInscription}}</tr>
				<tr>{{member.diplome}}</tr>
				<tr>{{member.encadrant}}</tr>
				<tr>{{member.etablissement}}</tr>
				<tr>{{member.grade}} </tr>

			</td>

		</table>

	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>

