<div class="my-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" routerLink="create">
      <mat-icon class="s-24 mr-4">add</mat-icon>
      Create New
    </button>
  
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- liste mta3 component kifkif lezm , bsh ynajm ymatchihom -->
    <ng-container matColumnDef="type">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Type</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="titre">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Title</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="lien">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Lien</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.lien}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Created Date</th>
        <td mat-cell class="px-12" *matCellDef="let element">
          {{element.createdDate | date :'d MMMM y, HH:mm'}}
        </td>
      </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="sourcePDF">
      <th mat-header-cell class="px-12" *matHeaderCellDef> source PDF </th>
      <td mat-cell class="px-12" *matCellDef="let element">
        <a [href]="element.cv" target="_blank">
          <mat-icon>picture_as_pdf</mat-icon>
        </a>
      </td>
    </ng-container>
    
    <!-- routel link bsh taaml url , lezm tkoun nafsha maa l app routing -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
      <td mat-cell class="px-12 w-120" *matCellDef="let element">
        <button mat-icon-button [routerLink]="element.id + '/edit'">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  